.navauth a {
    color: white;
    text-decoration: none;
    font-size: 0.75em;
    margin: 0 0.75em;
}

.navauth {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    /* Ensure navbar is above the blur */
}

.form {
    display: none;
    /* Hide initially */
    padding: 20px;
    opacity: 0;
    transform: translateY(-10px);
    position: fixed;
    /* Change to fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Center the form */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1003;
    /* Ensure form is above the blur */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.form.show {
    display: flex;
    /* Show form */
    opacity: 1;
    transform: translate(-50%, -50%);
    /* Maintain center position */
}

body.blur {
    filter: blur(1px);
    /* Blur effect */
}

input {
    margin: 0.5em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fieldset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: none;
}

fieldset label {
    display: flex;
}