.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    background-color: #2C3E50;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 15vh;
    top: 0;
}

.navbarLogo {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
}

.navbarLinks {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbarLinks li {
    display: flex;
    align-items: center;
}

.navbarLink a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navbarLink a:hover {
    text-decoration: underline #2ECC71 solid 2px;
    text-underline-offset: 0.3em;
}

.img {
    background-color: transparent;
    display: flex;
    height: 15vh;
    margin-left: 1em;
}