.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    background-color: #2C3E50;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbarLogo {
    font-size: 1.5rem;
    display: flex;
}

.navbarLinks {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbarLinks li {
    display: inline;
}

.navbarLink a {
    color: white;
    text-decoration: none;
}

.navbarLink a:hover {
    text-decoration: underline #2ECC71 solid 2px;
    text-underline-offset: 0.3em;
}

.navbarLink a:hover {
    text-decoration: underline #2ECC71 solid 2px;
    text-underline-offset: 0.3em;
}


.navauth a {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    margin-right: 1em;
}